.main-banner {
    background: url(../img/home-banner.png) no-repeat top center;
    background-position: center;
    background-size: cover;
    min-height: 890px;
}
.blog {
    padding-top: 100px;
}
.blog-items{
    margin-top:50px;
}
.blog-item{
    display: inline-block;
    width: 30%;
    margin-right: 3%;
    box-sizing: border-box;
}
.blog-item:hover{
    box-shadow: 0px 10px 20px rgb(5 54 77/10%);
}
.blog-item:hover .blog-item__info {
    background-color: white;
}
.blog-item__image img {
    width: 100%;
}
.blog-item__info{
    background-color: #F8FAFF;
    padding: 30px;
    color: #797979;
}
.blog-item__main-info span {
    font-size: 14px;
    margin-right: 30px;
    font-weight: lighter;
}
.blog-item__info i {
    margin-right: 5px;
}
.blog-item__title {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
    color: #05364d;
    font-weight: 700;
}
.blog-item__description {
    line-height: 27px;
    font-weight: 500;
    font-size: 15px;
}
.blog-item__learn-more{
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    color: #05364d;
    display: inline-block;
    position: relative;
    cursor: pointer;
}
a {
    text-decoration: none;
}
.blog-item__learn-more:hover {
    color: #ed239f;
}
.partners {
    padding-top: 100px;
}
.partner {
    display: inline-block;
    padding: 0 30px;
}
.contact {
    padding: 100px 20px;
}
textarea, input {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    border: 1px solid #f0e9ff;
    border-radius: 5px;
    color: #495057;
    padding-left: 18px;
    font-size: 13px;
    background: transparent;
    box-sizing: border-box;
}
textarea:focus,
input:focus {
    outline: 0;
}
.half-row {
    width: 50%;
    float: left;
    box-sizing: border-box;
}
.contact-firstname {
    padding-right: 15px;
}
.contact-email {
    padding-left: 15px;
}
.contact-send {
    margin-top: 30px;
}